body{
    background-color: #0B0B0B;
    /* color: rgb(7, 27, 65); */
    font-family: Montserrat;
    color: white;
    padding-top: 6em;
    height: 100%;
}




.container {
	width: 100%;
    background: black;
	margin: 0 auto;
    height: 10%;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding-top: 3vh;
  margin-left: 35vh;
}

nav {
  float: right;
  margin-right: 40vh;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

nav a:hover {
  color: #f7d277;
  text-decoration: none;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.images{
    margin-top: 0;
    margin-bottom: 15rem;
}

.active, .dot:hover {
  background-color: #717171;
}


.tab {
    overflow: hidden;
    display: flex;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;

    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f7d277;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #f7d277;
  }

  .tab button{
      background-color: #fae1a2;
      color: black; font-size:4.5rem;
      border-radius: 5px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top: none;
  }

  #bookings-form{
      margin: 5rem auto;
      width: 150rem;
  }

  .form-label{
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      width:50rem;
  }

  .form-label label{
      text-align: left;
      font-size: 3rem;
  }
  .form-label input{
    text-align: left;
    font-size: 3rem;
    height: 4.5rem;
    color: black;
}

.form-label select{
    text-align: left;
    font-size: 3rem;
    height: 4.5rem;
    color: black;
}

  .forms{
      display: flex;
      margin-bottom: 3rem;
  }

  .forms-2{
      display: flex;
  }


  .bookings-tab{
      width: 160rem;
      margin: 0 auto;
      margin-bottom: 20rem;
      border-radius: 25px;
  }

  .u-section-1 {
  background-image: none;
  min-height: 979px;
}

.u-section-1 .u-shape-1 {
  height: 374px;
  margin-top: 406px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 986px;
  height: 662px;
  object-position: 0% 50%;
  background-position: 100% 41.98%;
  margin: -720px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -177px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
  min-height: 346px;
  grid-gap: 15px 15px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 4px 0 3px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 4px 0 3px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 4px 0 3px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 4px 0 3px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 945px;
  }

  .u-section-1 .u-image-1 {
    object-position: 23.33% 41.98%;
    width: 940px;
    height: 631px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -146px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 285px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1185px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 483px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 2px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    min-height: 614px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1089px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 362px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 619px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1502px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 228px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
	
}.u-section-2 {
    background-image: none;
    min-height: 612px;
  }
  
  .u-section-2 .u-shape-1 {
    height: 290px;
    margin-top: 2px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-list-1 {
    width: 1140px;
    margin: -186px auto 60px;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 418px;
    grid-gap: 10px;
  }
  
  .u-section-2 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 20px 24px;
  }
  
  .u-section-2 .u-icon-1 {
    height: 88px;
    width: 88px;
    background-image: none;
    color: rgb(17, 17, 17) !important;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-text-2 {
    font-style: italic;
    margin: 20px 3px 0;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-2 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px 20px 24px;
  }
  
  .u-section-2 .u-icon-2 {
    height: 88px;
    width: 88px;
    background-image: none;
    color: rgb(17, 17, 17) !important;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-text-4 {
    font-style: italic;
    margin: 20px 3px 0;
  }
  
  .u-section-2 .u-btn-2 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-3 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 20px 24px;
  }
  
  .u-section-2 .u-icon-3 {
    height: 88px;
    width: 88px;
    background-image: none;
    color: rgb(0, 0, 0) !important;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-text-6 {
    font-style: italic;
    margin: 20px 3px 0;
  }
  
  .u-section-2 .u-btn-3 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-2 .u-list-item-4 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px 20px 24px;
  }
  
  .u-section-2 .u-icon-4 {
    height: 88px;
    width: 88px;
    background-image: none;
    color: rgb(17, 17, 17) !important;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-7 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px auto 0;
  }
  
  .u-section-2 .u-text-8 {
    font-style: italic;
    margin: 20px 3px 0;
  }
  
  .u-section-2 .u-btn-4 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 {
      min-height: 520px;
    }
  
    .u-section-2 .u-shape-1 {
      height: 266px;
      margin-top: 0;
    }
  
    .u-section-2 .u-list-1 {
      width: 940px;
    }
  
    .u-section-2 .u-repeater-1 {
      min-height: 344px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-8 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 {
      min-height: 934px;
    }
  
    .u-section-2 .u-list-1 {
      width: 720px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 5px));
      min-height: 774px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-bottom: 30px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-bottom: 30px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-bottom: 30px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 {
      min-height: 936px;
    }
  
    .u-section-2 .u-list-1 {
      width: 540px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      min-height: 795px;
      grid-gap: 10px 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-list-1 {
      width: 340px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  }
  

/* Fading animation */

#testimonials {
    background-color: #fef9e6;
    color: white;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  
  .testimonial-text {
    font-size: 4rem;
    line-height: 1.5;
    display: block;
    letter-spacing: -.04em;
  
  }

.h2-highlight {
    background-image: linear-gradient(180deg, transparent 90%, #f7d277 0, #f7d277);
  }
  .carousel-item {
    padding: 7% 15%;
    text-align: center;
    height: 400px;
    background-color: black;
  }

  .carousel-item3 {
    padding: 7% 15%;
    text-align: center;
    height: 200px;
    background-color: black;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

.book-now{
    height: 5rem;
    background-color: #f7d277;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    width: 15rem;
    border: none;
    border-radius: 5px;
}

.btn-label {
    text-align: left;
    font-size: 3rem;
    height: 4rem;      

 }


.footer {
    width: 100%;
    background-color: #232323;
    position: absolute;
    z-index: 1;
    margin-top: 100vh;
}

.footer-basic {
    padding: 40px 0;
    background-color: #232323;
    color: #f0f5f9;

}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #f0f5f9;
    margin-bottom: 0;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
    font-size: .8em;
    color: #f0f5f9;
    padding: 1em 2em;
}
